* {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.decor1 {
    width: 288px;
    height: 271px;
    flex-shrink: 0;
    border-radius: 0px 0px 50px 0px;
    background: #95DBF5;

    position: absolute;
    z-index: 1
}

.decor2 {
    width: 59px;
    height: 163px;
    flex-shrink: 0;
    background: #95DBF5;
    position: absolute;
    top: 282px;
    left: 360.7px;
}

.img {
    width: 592px;
    height: 800px;
    flex-shrink: 0;
    background: url(ROMG0836.JPEG) lightgray 50% / cover no-repeat;
    position: absolute;
    top: 61px;
    left: 417px;
}

.Portfolio {
    color: #000;
    font-size: 64px;
    font-weight: 500;
    background-color: #95DBF5;
    position: absolute;
    top: 75px;
    left: 81px;
}

.linkgithub {
    width: 412px;
    height: 45px;
    transform: rotate(90deg);
    flex-shrink: 0;
    color: rgba(40, 18, 18, 0.75);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 329px;
    left: 826px;
    background-color: white;
}

.decor3 {
    width: 66px;
    height: 276px;
    flex-shrink: 0;
    background: #1E1E1E;
    position: absolute;
    top: 185px;
    left: 1098px;
}

.name {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: white;
    position: absolute;
    top: 915px;
    left: 435px;
}

.decor4 {
    width: 348px;
    height: 145px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 0px;
    background: #95DBF5;
    position: absolute;
    top: 890px;
    left: 816.7px;
}

.text {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #95DBF5;
    margin: 39px 54px;
}

.aboume {
    width: 115px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #95DBF5;
    position: absolute;
    top: 590px;
    left: 1049.7px;
}

.projects {
    width: 115px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #95DBF5;
    position: absolute;
    top: 685px;
    left: 1049.7px;
}

.text2 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #95DBF5;
    width: 98px;
    float: right;
    margin-top: 15px;
}
svg:hover{
    background-color: #FFF;
}